
@charset "utf-8";
* {
  margin:0;
  padding:0;
}
.catch_img{
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.pao_back{
  width: 90vw;
  height: 94vh;
  margin: 3vh auto;
}
.pao_green{
  top: 0;
  width: 96vw;
  position: absolute;
  height: 98vh;;
  background-color: rgba(135,224,248, 0.6);
  left: 2vw;
  top: 1vh;
}
.catch_img p{
  position: absolute;
  text-align: left;
  font-size: 42px;
  font-weight: 700;
}
.catch_img p:nth-of-type(1){
  top: 35vh;
  left: 8vw;
}
.catch_img p:nth-of-type(2){
  border-top: 5px solid #000;
  width: 40%;
  top: 55vh;
  left: 8vw;
}
.catch_img p:nth-of-type(3){
  bottom: 30vh;
  right: 45px;
  font-size: 22px;
  font-weight: 200;
}
.caronly{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
}
.arrow{
  position: absolute;
  bottom: 15vh;
  right: 50px;
}

.appeal_text{
  font-family: "M PLUS Rounded 1c"; 
  font-weight: 300;
  text-align: center;
  font-size: 22px;
  margin: 64px 0 32px 0;
  background:linear-gradient(transparent 60%, #BDF0FF 60%);
}

.pao_sky{
  width: 90%;
  margin: 52px 8%;
  line-height: 32px;
  text-align: left;
} 

.spec{
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 50% 50%;
}
.spec div{
  text-align: center;
}
.spec div:nth-of-type(1),
.spec div:nth-of-type(2){
  border-bottom: 1px solid #707070;
}
.spec p{
  margin: 16px 0;
  text-align: left;
}
.spec a{
  text-decoration: none;
  color: #000;
  background-color: #EBFAFF;
  padding: 8px 16px;
  border-radius: 50px ;
  border: 1px solid #333;
  position: relative;
  top: 18px;
}
.spec div:not(:last-child){
 width: 80%;
 margin: 0 10%;
}
.li_option{
  grid-row: 3/ 4;
  grid-column: 1 / 3;
}
.li_option p{
  width:100%;
  margin: 16px 0%;
}
@media screen and (max-width:320px) {
  .catch_img p{
    font-size: 32px;
  }
}


@media screen and (min-width:321px) {
  .for_five{
    display: none
  }
}
@media screen and (min-width:768px) {
}

